@page "/"

<h1>Counter</h1>

<div>&copy; Linda Lawton 2019</div><br /><br />

<p>Current count: @buttonOneCounter</p>
<MyButton Label="@Label1" ExternalMethod="@((param) => { btnOneClick(); })" ></MyButton>


<p>Current count: @buttonTwoCounter</p>
<MyButtontwo Label="@Label2" ParentMethod="@btnTwoClick"></MyButtontwo>

@code {

    string Label1 = "ButtonOne";
    int buttonOneCounter = 0;

    string Label2 = "Option two";
    int buttonTwoCounter = 0;

    public void btnOneClick()
    {
        buttonOneCounter++;
    }

    private void btnTwoClick()
    {
        buttonTwoCounter++;
    }
}